body {
    margin: 0;
    padding: 10px;
    background-color: #444;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    padding: 10px;
}
.content {
    max-width: 790px;
    padding: 10px 20px;
    margin: 10px auto;
    border: 2px solid #888;
    background-color: #fff;
    border-radius: 20px;
}
h1 {
    margin: 0;
    text-align: center;
}
#calendar {
    height: 520px;
    width: 100%;
    min-width: 740px;
}
.center {
    text-align: center;
}
p {
    margin: 1em 10px;
}
@media only screen and (max-width: 800px) {
    body {
        padding: 0;
        background-color: #fff;
    }
    .wrapper {
        padding: 0;
    }
    .content {
        padding: 0;
        border: 0;
        border-radius: 0;
    }
    p {
        margin: 0.75em 12px;
    }
}
